.cf-theme {
    --cf-major-keys-fill: #a3e635;
    --cf-major-keys-fill-hover: #84cc16;
    --cf-major-keys-fill-selected:  #65A30D;
    --cf-minor-keys-fill: #bef264;
    --cf-minor-keys-fill-hover: #a3e635;
    --cf-minor-keys-fill-selected:  #65A30D;
    --cf-diminished-keys-fill: #d9f99d;
    --cf-stroke-color: black;
    --cf-stroke-width: 2px;
    --cf-text-color: black;
}

.cf-text {
    font-family: sans-serif;
}