/* define defaults */
:root {
    --cf-major-keys-fill: #84CC16;
    --cf-major-keys-fill-hover: #65A30D;
    --cf-major-keys-fill-selected:  #65A30D;
    --cf-minor-keys-fill: #84CC16;
    --cf-minor-keys-fill-hover: #65A30D;
    --cf-minor-keys-fill-selected:  #65A30D;
    --cf-diminished-keys-fill: #84CC16;

    --cf-stroke-color: black;
    --cf-stroke-width: 2px;
    --cf-text-color: black;
}

/* default config for all wedges and text */
.cf-wedge {
    fill: var(--cf-major-keys-fill);
    stroke: var(--cf-stroke-color);
    stroke-width: var(--cf-stroke-width);
}

.cf-text {
    fill: var(--cf-text-color);
}

.cf-wedge.selectable:hover {
    fill: var(--cf-major-keys-fill-hover);
}

.cf-wedge.selected {
    fill: var(--cf-major-keys-fill-selected);
}

/* configuration for themed wedges and text. supersedes defaults */
.cf-wedge.cf-theme {
    fill: var(--cf-major-keys-fill);
    stroke: var(--cf-stroke-color);
    stroke-width: var(--cf-stroke-width);
}

.cf-text.cf-theme {
    fill: var(--cf-text-color);
}

.cf-wedge.cf-theme.selectable:hover {
    fill: var(--cf-major-keys-fill-hover);
}

.cf-wedge.cf-theme.selected {
    fill: var(--cf-major-keys-fill-selected);
}

/* theme config for major keys ring */
.cf-wedge.cf-theme.major {
    fill: var(--cf-major-keys-fill);
    stroke: var(--cf-stroke-color);
    stroke-width: var(--cf-stroke-width);
}

.cf-wedge.cf-theme.major.selectable:hover {
    fill: var(--cf-major-keys-fill-hover);
}

.cf-wedge.cf-theme.major.selected {
    fill: var(--cf-major-keys-fill-selected);
}

/* theme config for minor keys ring */
.cf-wedge.cf-theme.minor {
    fill: var(--cf-minor-keys-fill);
}

.cf-wedge.cf-theme.minor.selectable:hover {
    fill: var(--cf-minor-keys-fill-hover);
}

.cf-wedge.cf-theme.minor.selected {
    fill: var(--cf-minor-keys-fill-selected);
}

/* theme config for diminished ring */
.cf-wedge.cf-theme.diminished {
    fill: var(--cf-diminished-keys-fill);
}