:root {
    --cf-major-keys-fill: #84CC16;
    --cf-major-keys-fill-hover: #65A30D;
    --cf-major-keys-fill-selected:  #65A30D;
    --cf-minor-keys-fill: #84CC16;
    --cf-minor-keys-fill-hover: #65A30D;
    --cf-minor-keys-fill-selected:  #65A30D;
    --cf-diminished-keys-color: #84CC16;

    --cf-stroke-color: black;
    --cf-stroke-width: 2px;
    --cf-text-color: black;
}


.cf-wedge {
    fill: var(--cf-major-keys-fill);
    stroke: var(--cf-stroke-color);
    stroke-width: var(--cf-stroke-width);
}

.cf-text {
    fill: var(--cf-text-color);
}

.cf-wedge.selectable:hover {
    fill: var(--cf-major-keys-fill-hover);
}

.cf-wedge.selected {
    fill: var(--cf-major-keys-fill-selected);
}